<style type='text/css'>
#topMessage .close:hover {
	color: #d2322d;
}
#topMessage .close {
	color: #3d4450;
	float: right;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 0 #ffffff;
}
#topMessage {
	font-size: 12px;
	background-color: #FFFFFF;
	background-image: none;
	box-shadow: 0 0 5px #c2c2c2;
	margin-top: 70px;
}
</style>
<div id='topMessage' class='well fade in'>
	<button class='close' data-dismiss='alert' type='button'>×</button>
	<strong>[<span style='color:#d43f3a'>置顶</span>]</strong> $!data.topMessage
</div>