#set($doc=$data.user)
<form id='frm' role='form' class="form-horizontal" onsubmit='return push();'>
	<input type='hidden' name='id' id='frm_id' value='$!doc.id'>

	<div class="control-group">
		<label class="control-label" for='frm_user_name'>用户名</label>

		<div class="controls">
			<input type="text" class='input-large' id='frm_user_name' value='$!doc.user_name'#if(null != $!doc.id) readonly#end />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for='frm_nickname'>昵称</label>

		<div class="controls">
			<input type="text" class='input-large' id='frm_nickname' name='nickname' value='$!doc.nickname' />
		</div>
	</div>

	<!-- <div class="control-group">
		<label class="control-label" for='frm_current_score'>得分（当前）</label>

		<div class="controls">
			<input type="text" class='input-large' name='current_score' id='frm_current_score' value='$!doc.current_score' />
		</div>
	</div> -->

	<div class="control-group">
		<label class="control-label" for='frm_gold_count'>（当前：$!doc.gold_count）元宝</label>

		<div class="controls">
			<input type="text" class='input-large' name='gold_count' id='frm_gold_count' />
		</div>
	</div>

	<div class="form-actions">
		<button class="btn btn-info" type='submit'>
			<i class="icon-ok bigger-110"></i>
			提交
		</button>
		&nbsp; &nbsp;
		<button class="btn" type="reset">
			<i class="icon-undo bigger-110"></i>
			重置
		</button>
	</div>
</form>
<script>
// $(function(){
//   $('#frm_current_score').ace_spinner({
//     value: $!doc.current_score,
//     min:  1,
//     max:  1000000,
//     step: 1000,
//     btn_up_class:   'btn-info',
//     btn_down_class: 'btn-info'
//   }).on('change', function(){
//     // alert(this.value)
//   });
// });

$(function(){
  $('#frm_gold_count').ace_spinner({
    value: 100,
    min:  1,
    max:  1000000,
    step: 100,
    btn_up_class:   'btn-info',
    btn_down_class: 'btn-info'
  }).on('change', function(){
    // alert(this.value)
  });
});
</script>