#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html>
	<head>
		<title>好友</title>
		#parse('_pagelet/header.html')
		<link rel='stylesheet' type='text/css' media='screen' href='${conf.html.virtualPath}public/assets/css/iframe.css' />
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-12'>
					<ol class='breadcrumb'>
						<li class='active'><i class='fa fa-home fa-fw'></i> 首页</li>
						<li class='active'><a href='javascript:location.reload();'>好友</a></li>
					</ol>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12 col-md-12'>
					<div class='panel panel-default table-responsive'>
						<table id='table1' data-olx-type='olx.grid'
							class='table table-bordered table-hover table-condensed table-striped'
							data-url='' data-current='1' data-pagesize='20' data-count='561'>
							<thead>
								<tr>
									<th class='ta'>#</th>
									<th>昵称</th>
									<th>元宝</th>
									<th>注册时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>#set ($i=1)
								#foreach($!doc in $!data.friends)<tr>
									<td class='ta'>$i#set($i=$i+1)</td>
									<td><a href='javascript:;'>$!{doc.nickname}</a></td>
									<td>#num2Money($!{doc.gold_count})</td>
									<td>#formatDate($!{doc.create_time})</td>
									<td>
										<a href='javascript:jump("$!{doc.id}")'>转账</a>
										<a href='javascript:resetPwd("$!{doc.id}")'>密码重置</a>
									</td>
								</tr>#end
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		#parse('_pagelet/js.html')
		<script type='text/javascript' src='${conf.html.virtualPath}public/assets/js/iframe.js'></script>
<script>
function resetPwd(id){
  if(confirm("确认要执行此操作吗？")){
    $.ajax({
      url: '$!{conf.html.virtualPath}resetPwd',
      type: 'POST',
      dataType: 'JSON',
      data: { id: id },
      success: function(data){
        if(data.error) return alert(data.error.msg);
        alert('操作成功');
      },
      error: function(){
        alert(arguments[2]);
      }
    });
  }
}
function jump(id){
  top.location.href='/u/#page/transfer?id='+ id;
}
</script>
	</body>
</html>