#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html>
	<head>
		#parse('_pagelet/header.html')
		<title>转账</title>
		<link rel='stylesheet' type='text/css' media='screen' href='${conf.html.virtualPath}public/assets/css/iframe.css' />
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-12'>
					<ol class='breadcrumb'>
						<li class='active'><i class='fa fa-home fa-fw'></i> 首页</li>
						<li class='active'><a href='javascript:location.reload();'>转账</a></li>
					</ol>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12 col-md-12'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<form class="form-horizontal" id='frm' onsubmit='return push();'>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label'
										for='frm_target_id'><span class='olx-form-required'>*</span>转账人</label>
									<div class='col-sm-4'>
										<input type='text' class='form-control' name='target_id'
											id='frm_target_id' placeholder='转账人'>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label'
										for='frm_gold_num'><span class='olx-form-required'>*</span>元宝</label>
									<div class='col-sm-4'>
										<input type='number' class='form-control' name='gold_num'
											id='frm_gold_num' placeholder='元宝'>
									</div>
								</div>
								<div class='form-group'>
									<div class='col-sm-offset-2 col-sm-4'>
										<button id='frm_btn_submit' type='submit'
											class='btn btn-primary'>提交</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('_pagelet/js.html')
		<script type='text/javascript' src='${conf.html.virtualPath}public/assets/js/iframe.js'></script>
<script>

$(function(){
  $('#frm_target_id').val(location.search.match(/id=([\w\-]+)/) ? RegExp.$1 : '');
  $('#frm_gold_num').val(1);
});

function ser(frmObj){
  var _a = frmObj.serializeArray();
  var _b = _.pluck(_a, 'name');
  var _c = _.pluck(_a, 'value');
  var _d = _.object(_b, _c);
  return _d;
}

function push(){
  var data = ser($('#frm'));

  $.ajax({
    url: '$!{conf.html.virtualPath}transfer',
    type: 'POST',
    dataType: 'JSON',
    data: data,
    success: function(data){
      if(data.error){
        if(data.error.code) return alert(data.error.code);
        if(data.error.msg)  return alert(data.error.msg);
      }

      alert('转账成功');
      top.location.href = '/u/#page/transRecord';
    },
    error: function(){
      alert(arguments[2]);
    }
  });

  return false;
}
</script>
	</body>
</html>